---
import Layout from "@layouts/Main.astro";
import { IconSelectedText } from "@lib/Icons";
import { svgToBase64Url } from "@utils/IconsService";
import { COLORS } from "@config/global";
import backgrounds from "@data/collections/backgrounds.json";
import "@styles/Backgrounds.css";

const selected = svgToBase64Url(IconSelectedText, { color: COLORS.success });
---

<Layout footer={false}>
  <h3>Static Background Snippets</h3>
  <p>
    A simple collection of <span>Vanilla CSS</span> backgrounds, ready to use.
  </p>
  <div>
    <aside>
      <label title="Background fixed">
        Fixed <input type="checkbox" id="fixed" />
      </label>
      <label title="Hide grid backgrounds">
        Hide <input type="checkbox" id="hidden" />
      </label>
      <label title="Reset Background">
        Reset <input type="radio" name="bg-statics" id="reset" checked />
      </label>
    </aside>
    <section>
      {
        backgrounds.static.map((bg) => (
          <div>
            <input
              id={bg.id}
              type="radio"
              name="bg-statics"
              style={`--size:${bg.previewSize}px`}
              {...(bg.themeLight ? { "data-theme-light": "" } : {})}
            />
            <button>Copy code</button>
          </div>
        ))
      }
    </section>
  </div>
</Layout>

<!--


.dotted {
  padding: 2.25em 1.6875em;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-size: 30px 30px;
  }

html{
      background:
radial-gradient(ellipse at center, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%),
    radial-gradient(ellipse at 70% 60%, rgba(195,224,96,1) 0%,rgba(195,224,96,0) 30%),
    radial-gradient(ellipse at bottom left, rgba(0,163,203,1) 0%, rgba(0,163,203,0) 70%),
    linear-gradient(135deg, rgba(18,46,119,0) 0%,rgba(18,46,119,0) 75%,rgba(18,46,119,1) 100%),
    linear-gradient(to right, rgba(98,87,147,1) 0%, rgba(213,93,100,1) 17%, rgba(228,145,41,1) 74%, rgba(192,103,28,1) 100%);
   background-blend-mode:
     screen,
     hue,
     color,
     overlay,
     normal;
     height: 100%;
     /* background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #f3f6f6 50px ), repeating-linear-gradient( #56d1b355, #56d1b3 ); */
}

-->

<style define:vars={{ selected }}>
  html:has([data-theme-light]:checked) {
    main {
      /* --bg: 19 21 26; */
      /* --bg-light: 30 32 43; */
      --font-color: 25 25 25;
      --bg-dark: 255 255 255;
      --accent-light: 49 10 101;
      --accent-dark: 224 204 250;
    }

    /* --font-color: 230 230 230;
    --font-secondary-color: 160 160 160;
    --bg: 19 21 26;
    --bg-light: 30 32 43;
    --bg-dark: 8 0 30;
    --accent: 136 58 234;
    --accent-secondary: 102 51 238;
    --accent-light: 224 204 250;
    --accent-dark: 49 10 101; */
  }

  html {
    /* background: rgb(var(--bg-dark)); */
    /* background: -webkit-radial-gradient(
      center center,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 1px,
      transparent 1px,
      transparent 100%
    );*/

    background-repeat: initial;

    &:has(#hidden:checked) {
      header,
      section {
        opacity: 0.06;
        pointer-events: none;
      }
    }

    &:has(#fixed:checked) {
      background-attachment: fixed !important;
    }

    &:not(:has(#fixed:checked)) {
      background-attachment: scroll !important;
    }

    &:has(#reset:checked) {
      background: rgb(var(--bg-dark));
    }
  }

  h3 {
    font-family: "Archivo Black", system-ui, sans-serif;
    font-size: 40px;
    background: var(--lg3);
    background-clip: text;
    color: rgb(var(--accent-light) / 40%);
    margin-block: 60px 20px;
    filter: drop-shadow(1px 1px 1px rgb(var(--bg-dark)));
  }

  p {
    color: rgb(var(--font-color));
    font-size: 18px;
    font-weight: 300;

    span {
      color: rgb(var(--accent-light));
    }
  }

  h3,
  p {
    text-align: center;
  }

  div:first-of-type {
    position: relative;
    color: rgb(var(--font-color));

    &:has([data-theme-light]:checked) label:active {
      color: rgb(var(--bg-dark));
    }
  }

  aside {
    position: sticky;
    top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
    z-index: 1;
    background-color: rgb(var(--bg-dark) / 10%);
    padding: 12px 20px;
    border-radius: 40px;
    overflow: clip;
    width: max-content;
    margin: 40px auto;
    backdrop-filter: blur(3px);
  }

  label {
    padding: 3px 15px;
    border-radius: 20px;
    background: rgb(var(--bg-dark));
    border: 2px solid rgb(var(--accent-light) / 60%);
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 2px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    user-select: none;
    box-shadow: 3px 3px 4px rgb(var(--bg-dark));
    transition: border-color 0.2s;

    &:hover {
      border-color: rgb(var(--accent-light));
    }

    &:active {
      background: var(--lg);
    }
  }

  input[type="checkbox"] {
    appearance: none;
    border-radius: inherit;
    border: 2px solid rgb(var(--accent-dark));
    outline: 2px solid rgb(var(--accent-light) / 50%);
    background: var(--lg4);
    width: 35px;
    aspect-ratio: 2/1;
    position: relative;
    cursor: inherit;
    overflow: clip;
    transition: outline-color 0.5s;

    &::before {
      content: "";
      position: absolute;
      aspect-ratio: 1;
      height: 100%;
      inset: 0;
      border: 2px solid rgb(var(--accent-light) / 40%);
      background: var(--lg2);
      box-sizing: border-box;
      background-size: 100% 200%;
      border-radius: inherit;
      box-shadow: 0 0 5px 5px rgb(var(--accent-secondary));
      transition:
        left 0.2s ease-in,
        rotate 0.2s ease-in,
        box-shadow 1s,
        border-color 0.5s,
        background-position 0.2s linear;
    }
  }

  label:has(input[type="checkbox"]:checked) {
    border-color: rgb(var(--accent-light));
    
    input{
      outline-color: rgb(var(--accent-light));
      
      &::before {
        left: 55%;
        border-color: rgb(var(--accent-light));
        rotate: 0.5turn;
        background-position: 20%;
        box-shadow: 0 0 10px 5px rgb(var(--accent));
      }
    }
  }

  label input[type="radio"] {
    display: none;
  }

  section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    transition: opacity 0.5s;
  }

  section div {
    position: relative;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 10px;
    box-shadow: 0 0 3px 1px rgb(var(--accent-secondary));
    overflow: clip;
  }

  input[type="radio"]:not(#reset) {
    position: relative;
    margin: 0;
    appearance: none;
    width: 100%;
    height: 100%;
    color: inherit;
    border-radius: inherit;
    border: 1px solid rgb(var(--accent-light));
    background-attachment: local;
    transition: box-shadow 0.8s;

    &::before {
      content: "";
      position: absolute;
      inset: 50%;
      background: var(--selected);
      background-size: 20% 20%;
      transition: inset 0.2s;
    }
  }

  button,
  input[type="radio"]:not(#reset)::after {
    position: absolute;
    font-size: 20px;
    color: inherit;
    overflow: clip;
    letter-spacing: 4px;
    background-color: rgb(var(--bg-dark) / 50%);
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    rotate: -45deg;
    padding: 0;
    line-height: 5rem;
    cursor: pointer;
    border: none;
    border-radius: inherit;
    transition:
      inset 0.4s,
      transform 0.2s,
      background-color 0.2s;
  }

  input[type="radio"]:not(#reset)::after {
    content: "Preview";
    align-content: flex-end;
    inset: -12% 150% 40% -50%;
    border-bottom: 1px dotted rgb(var(--accent-light));
  }

  button {
    inset: 40% -50% -12% 150%;
    align-content: flex-start;
    border-top: 1px dotted rgb(var(--accent-light));
  }

  section div:hover {
    input[type="radio"]:not(#reset)::after {
      right: 0;
    }

    button {
      left: 0;
    }

    button:hover,
    &:not(:has(button:hover)) input[type="radio"]:not(#reset)::after {
      background-color: rgb(var(--bg-dark) / 80%);
    }
  }

  input[type="radio"]:not(#reset):checked {
    box-shadow: inset 0 0 30px 10px rgb(var(--success));

    &::before {
      inset: 0;
    }
  }
</style>

<script>
  const bgs = document.querySelector("section")!;
  const formattingCSS = (cssText: string) => {
    const css = cssText.split("{");
    const formattedStyles = css[1]!
      .replace("}", "")
      .replace(/, radial/g, ",\n\t\tradial")
      .replace(/, linear/g, ",\n\t\tlinear")
      .split(";")
      .filter((rule) => rule.trim() !== "")
      .map((regla) => `\t${regla.trim()};`)
      .join("\n");
    return `html {\n${formattedStyles}\n\tmin-height: 100vh;\n}`;
  };

  const getStyleById = (styles = "") => {
    if (styles.length === 0) return;
    Array.from(document.styleSheets).forEach((sheet) => {
      Array.from(sheet.cssRules).forEach((rule) => {
        if (rule instanceof CSSStyleRule && rule.selectorText.includes(styles))
          styles = formattingCSS(rule.cssText);
      });
    });
    return styles;
  };

  bgs.addEventListener("click", (e) => {
    const btn = e.target as HTMLButtonElement;
    if (btn.localName !== "button") return;
    const styles = getStyleById(btn.previousElementSibling?.id);
    styles
      ? navigator.clipboard
          .writeText(styles)
          .then(() => {
            alert("Estilos copiados al portapapeles");
          })
          .catch((err) => {
            console.error("Error al copiar los estilos: ", err);
          })
      : alert("Styles not found ❌");
  });
</script>
